.login-main-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.login-card-container {
  width: 85%;
  position: relative;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  gap: 85px;
  align-items: center;
}
.image-container-login {
  width: 473.181px;
  height: 348.757px;
}
.web-login {
  width: 90%;
  height: 100%;
}

.login-form-container {
  padding: 15px;
  width: 400px;
  height: 458px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0px rgba(97, 67, 67, 0.08);
}
.login-image-logo {
  width: 82px;
  height: 41.999px;
  flex-shrink: 0;
}
.login-heading {
  color: #262626;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.login-form {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.user-name-login {
  font-size: 16px;
  color: #262626;
  margin-top: 25px;
  font-weight: 500;
}
.login-input-text {
  width: 100%;
  height: 1.8rem;
  border: 2px solid transparent;
  background: #eeeeee;
  font-size: 16px;
  color: #262626;
}
.sbt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 2.2rem;
  background: #4049ff;
  margin-top: 25px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.error-msg {
  color: var(--light-red-500, #ef4444);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1100px) {
  .login-card-container {
    width: 85%;
    height: 75%;
    position: relative;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
  }
  .web-login {
    height: 290px;
  }
}
@media screen and (max-width: 768px) {
  .image-container-login {
    display: none;
  }
  .login-form-container {
    box-shadow: none;
  }
  .login-form {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .user-name-login {
    font-size: 16px;
    color: #262626;
    font-weight: 500;
    margin-top: 25px;
  }
  .login-input-text {
    width: 100%;
    height: 1.8rem;
    border: 2px solid transparent;
    background: #eeeeee;
    font-size: 16px;
    color: #262626;
  }
}
